<div class=" container  pt-5 text-center  ">
    <p class="orange-cursive">Meet Our Experts</p>
    <h1 class="sub-header-white ">OUR BEST CHEFS</h1>
</div>

<div class="container mt-3 text-center">
<swiper [config]="config">
<ng-template swiperSlide><img src="../../../assets/images/Chef1.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Chef2.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Chef3.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Chef1.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Chef2.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
</swiper>
</div>
