<section>
    <div class="Container-fluid text-center banner">
        <p class="top-header">Reservation</p>
    </div>
    </section>

    <section class="bg-white ">
    <div class="row no-gutters ">
        <div class="col-12 col-sm-12 col-md-4  col1"></div>
        <div class="col-12 col-sm-12 col-md-4  col2">
                <p class="orange-cursive">Make Online Reservation</p>
                <p class="header-black text-center">BOOK A TABLE</p>
        </div>
        <div class="col-12 col-sm-12 col-md-4  col3"></div>
    </div>
    <div class="container py-5 text">
        <form >
            <div class="form-group row">
                <div class="col-sm-6">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="HOUR" type="text"></div>
            <div class="col-sm-6 ">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="NUMBER OF PEOPLE" type="number">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="PICK A DATE" type="date"></div>
            <div class="col-sm-6">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="NAME" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="PHONE NUMBER" type="number"></div>
            <div class="col-sm-6">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="EMAIL" type="email">
                </div>
            </div>

            <input class="form-control form-control-lg mb-3" placeholder="COMMENT" type="text">
           
           
        </form>
        <button type="button " class="btn text-center ">Submit</button>
    </div>
  
</section>