<div class="container ">
    <div class="row no gutter">
        <div class="col border text-center"><a [routerLink]="['/order/Menu']">
            <img src="../../../assets/images/order.png"class="img-responsive img mx-auto mt-4">
            <h1 class="" >ORDER YOUR FOOD</h1></a>
        </div>
        <div class="col border text-center">
            <img src="../../../assets/images/delivery.png"class="img-responsive img mx-auto mt-4">
            <h1 class="">DELIVERY OR PICKUP</h1>
        </div>
        <div class="col border text-center">
            <img src="../../../assets/images/recipe.png"class="img-responsive img mx-auto mt-4">
            <h1 class="" >DELICIOUS RECIPE</h1>
        </div>
    </div>
</div>