:host {       //1st alternative
    display: block;
  //background-image: url("");
    background-color: #fd9d3e;
    padding: 3%;
  }

  .col{
    font-family: PT Sans Narrow;
    font-size: 16px;
    color:black
  }

