<div class="container mt-5 pt-5 text-center">
    <p class="orange-cursive">Recent Events</p>
    <h1 class="sub-header-white  ">Latest News</h1>
</div>

<div class="container mt-3 text-center ">
<swiper [config]="config">
<ng-template swiperSlide><img src="../../../assets/images/Weekend-Sing.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer"  width="50"  />
<p class="text-white">-By John <br /> WEEKENDS SINGING NIGHT <br /><br /> <span style="color:#fd9d3e ;">READ MORE</span></p>
</ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Family.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer"  height="50" />
    <p class="text-white">-By John <br /> FRIDAY SPECIAL COMBO SALE<br /><br /> <span class="text-right"style="color:#fd9d3e ;">READ MORE</span></p>
</ng-template>
<ng-template swiperSlide><img src="../../../assets/images/half-price.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" height="50"  />
    <p class="text-white">-By John <br />HALF PRICE OFFERS<br /><br /> <span style="color:#fd9d3e ;">READ MORE</span></p>
</ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Meal.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer"  />
    <p class="text-white">-By John <br /> MEALS <br /><br /> <span style="color:#fd9d3e ;">READ MORE</span></p>
    </ng-template>
</swiper>
</div>
