<section>
    <div class="Container-fluid text-center banner">
        <h1 class="top-header">About Us</h1>
    </div>
    </section>

    <section class="bg-white">
        <div class="container py-5">
            <div class="row border">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 border">
                <img src="../../../assets/images/About-Pizzeria.jpg" class="img">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 border my-5 text-left">
                    <p class="orange-cursive">Delicious Restaurant</p>
                    <h1 class=" header-black ">ABOUT PIZZERIA</h1>
                    <p class="para">Pizza is a savory dish of Italian origin consisting of a usually round, 
                                        flattened base of leavened wheat-based dough topped with tomatoes, cheese, 
                                        and often various other ingredients, which is then baked at a
                                        high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta.
                                    </p>
                </div>
            </div>
        </div>
    </section>

<section class="bg-secondary text-center  p-5">
    <p class="orange-cursive">Discover</p>
    <h1 class=" header-black ">OUR STORY</h1>
    <p class="">Pizza is a savory dish of Italian origin consisting of a usually round, 
        flattened base of leavened wheat-based dough topped with tomatoes, cheese, 
        and often various other ingredients, which is then baked at a
        high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta.
    </p>
</section>

<section class="bg-white">
    <div class="container py-5">
        <div class="row border">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 border">
            <img src="../../../assets/images/About-Pizzeria.jpg" class="img">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 border my-5 text-left">
                <p class="orange-cursive">Modern Cuisine</p>
                <h1 class="header-black ">EXPERIENCE</h1>
                <p class="para">Pizza is a savory dish of Italian origin consisting of a usually round, 
                                    flattened base of leavened wheat-based dough topped with tomatoes, cheese, 
                                    and often various other ingredients, which is then baked at a
                                    high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta.
                                </p>
            </div>
        </div>
    </div>
</section>

<section class="text-center p-5">
    <p class="orange-cursive">What Our Clients Say</p>
    <h1 class="header-white ">CUSTOMER REVIEWS</h1>

</section>