<div class=" container  ">
    <div class="row my-5">
        <div class="col-12 col-md-6 col-sm-12 my-5">
            <p class="orange-cursive">Delicious Restaurant</p>
            <h1 class="sub-header-black text-left ">ABOUT PIZZERIA</h1>
            <p class="text-white">Pizza is a savory dish of Italian origin consisting of a usually round, 
                                flattened base of leavened wheat-based dough topped with tomatoes, cheese, 
                                and often various other ingredients, which is then baked at a
                                high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta.</p>
            <button class="button mt-5"  [routerLink]="['/more/aboutUs']">KNOW MORE</button>
        </div>
    <div class="col-12 col-md-6 col-sm-12 ">
            <img src="../../../assets/images/aboutPizzeria.jpg"class="img-responsive img offset-md-2 offset-sm-3 offset-lg-4 offset-xs-2   ">
        </div>
    </div>
</div>

