<div class="container border py-5">
    <div class="row border">
        <div class="col border text-center">
            <h1 class=" sub-header-black ">BOOK ONLINE</h1>
            <p  class=" font"><b>RUNNING LATE? </b><br/> Book Online, Select your table<br/> 
                 Order your Drinks Prior and it will be ready and served when you come.  </p>
                <div class="phone-style ">
                    
                <div class="col-md-12 col-sm-12  border ">
                    <h1 class="phone-header">+91&nbsp;123456789</h1>
                </div>
            </div> 
        </div>
        <div class="col border text-center ">
            <h1 class="sub-header ">RESERVE A TABLE</h1>
            <form >
                <input class="form-control mb-3 mt-3" placeholder="NAME" type="text">
                <input class="form-control mb-3" placeholder="EMAIL" type="email">
                <input class="form-control mb-3" placeholder="TABLE FOR" type="number">
                <input class="form-control mb-3" placeholder="DATE" type="date">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" >
                       Order Drinks Prior
                        </label>
                      </div>
                  
            </form>
            <button class="button mt-5">SUBMIT</button>
        </div>
    </div>

</div>
