<div class=" text-center mb-2  pt-5 ">
    <p class="orange-cursive">Fresh From Pizzeria</p>
    <h1 class="sub-header-white">OUR SPECIALITY</h1>
</div>

<div class="container mt-3 text-center">
<swiper [config]="config">
<ng-template swiperSlide><img src="../../../assets/images/Speciality1.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Speciality2.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/Speciality3.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>

<ng-template swiperSlide><img src="../../../assets/images/Speciality1.jpg" class="img-fluid swiper-slide rounded-lg custom-cursor-pointer" width="50" /></ng-template>
</swiper>
<button class="button my-5">VIEW MORE</button>
</div>

