<div class="container-fluid  mb-5">
    <div class="row no gutter ">
        <div class=" col-md-6 col-sm-12">
            <img src="../../../assets/images/home-banner.jpg"class=" img mx-auto">
        </div>
        <div class=" col-12  col-md-6 col-sm-12">
            <h1 class=" header1 text-light mr-auto ">QUALITY PI<span style="color: #fd9d3e;">ZZ</span>A</h1>
            <div class=" col-12 col-md-9 mr-auto">
            <p class=" header2">HEALTHY AND FRESHLY BAKED PIZZA</p>
            </div>
        </div>
    </div>
</div>
<app-home-banner></app-home-banner>
<app-speciality></app-speciality>
<app-book-table></app-book-table>
<app-recent-news></app-recent-news>
<app-about></app-about>
<app-chefs></app-chefs>