<footer class="border-top " >
    <div class=" container  text-white text-center pt-5">
        <div class="row no gutter">
            <div class="col-12 col-md-4  pb-5 mr-auto   pl-4 a" >
                <img src="../../../assets/images/logo.png" class="pb-5">
                <p>Fatorda Goa </p>
                <p>PHONE:1234567890</p>
                <p>EMAIL:Support@pizzeria.com</p>
             </div>
            <div class="col-12 col-md-4  pb-5   pl-4 ">
                <p class="pb-5">OPENING HOURS</p>
                <p>WEEKDAYS: 11 AM - 9 PM </p>
                <p>WEEKENDS: 11 AM - 6 PM</p>
             
                
            </div>
            <div class="col-12 col-md-4   pl-4">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Order Tracking</a></p>
                <p><a href="#">Services</a></p>
                <p><a href="#">About</a></p>
                <p><a href="#">Contact Us</a></p>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Privacy Policy</a></p>
            </div>
        </div>
            <div class="h-divider"></div>
        <h6 class="text-center">&copy; Designed By Fletch</h6>
    </div>
</footer>
