<section>
    <div class="Container-fluid banner">
        <h1 class="top-header">Contact Us</h1>
    </div>
    </section>

    <section class="style pb-5">
<p class="orange-cursive text-center pt-5">Get In Touch</p>
<h1 class="header-black text-center border">Send Us Your FeedBack</h1>
<div class="container">
<div class="row  border">
    <div class="col-12 col-md-6 col-sm-6 col-lg-6">
        <h1 class="sub-header ">Contact Details</h1>
        <p  class=" font"><b>Email:</b>Support@pizzeria.com<br />
                        <b>Phone:</b>0832-1234567<br />
                        <b>Mobile:</b>+91 1234567890<br />
                        <b>Address:</b>Pizzeria Tower , Colva Beach <br />
                        Goa India.
                    </p>
    </div>
    <div class="col-12 col-md-6 col-sm-6 col-lg-6">
        <form [formGroup]="contactForm">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="NAME" type="text" formControlName="name">
            <input class="form-control form-control-lg mb-3" placeholder="EMAIL" type="email" formControlName="email">
            <input class="form-control form-control-lg mb-3" placeholder="MOBILE NUMBER" type="number" formControlName="phone">
            <input class="form-control form-control-lg mb-3 mt-3" placeholder="SUBJECT" type="text" formControlName="subject">
           
        </form>
        <button class="btn " type="submit" (click)="contact()">Submit</button>
    
    </div>
</div>
</div>

    </section>