.banner{
    background-image: url("../../../assets/images/Contact.jpg") ;
    background-repeat:no-repeat;
    background-size: cover;
    height:360px;
}


.style{
    background-color: white;
}
.btn{
    background-color: #fd9d3e; 
  
   width: 100%;
}

.font{
    font-family:PT Sans Narrow ;
    line-height: 8vh;
    font-size: 5vh;
}